@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
	font-family: 'Teko', sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background: black;
	align-items : center;
	justify-content: space-between;
	display: flex;
	padding: 0px 50px;
	z-index: 100;
}


body{
	
	background: url("images/back1.jpg") no-repeat;
	background-size : cover;
	background-attachment: fixed;
	background-position: 0px 80px;
}

.logo{
	font-size: 60px;
	color: white;
	font-weight: 700;
	margin-right: 0%;
	text-decoration: none;
}

.svg_logo{
	fill: white;
	stroke: none;
}

.svg_logo:hover{
	fill : #6901DC;
}

.navigation_bar a {
	position: relative;
	font-size: 25px;
	color: white;
	font-weight: 500;
	margin-left: 20px;
	text-decoration: none;	
	padding: 7px 13px;
	border-radius: 3px;
	
}

.navigation_bar a:hover {
	background: #6901DC;
	transition: .3s;
	
}

body {
    margin: 0;
    background-image: url(pageEditorBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



h1 {
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 70px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.Main-div {
    background-color: rgb(149, 144, 144);
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 20px;
    position: relative; 
    z-index: 1;
   
}

.Main-div .st-Name {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.Main-div img {
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.849);
}

.st-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.st-info .information {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.st-info p {
    font-size: 30px;
    margin: 5px;
}

.st-task {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.st-task .tasksTitle {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.st-task p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.st-task li {
    font-size: 20px;
    margin: 5px;
}

.st-task a {
    font-size: 20px;
    margin-bottom: 20px;
}
