body{
	background: url("images/lp1.jpg") no-repeat;
	background-size : cover;
	background-attachment: fixed;
}
.div1{
	display: flex;
    justify-content: center;
}
.text {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.8); 
	color: white;
	font-weight: bold;
	border: 5px solid #6901DC;
	position: absolute;
	top: 50px;
	z-index: 2;
	width: 50%;
	padding: 25px; 
	border-radius: 25px;
}
.Name {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.text img {
    height: 400px;
    border-radius: 10px;
	position: relative;
	left: 225px;
}

.info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.info .information {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.info p {
    font-size: 30px;
    margin: 5px;
}

.task {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.task .tasksTitle {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.task p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.task li {
    font-size: 20px;
    margin: 5px;
}

.task a {
    font-size: 20px;
    margin-bottom: 20px;
	font-decoration: none;
}

